@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body{
	font-family: 'Roboto', sans-serif !important;
}

#app{
	width: auto !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 0px;
}

#datascienceperu{
	height: 93vh;
	width: auto;
	//background-image: url("../assets/datascience.jpg");
	background-color: rgb(0, 0, 54);
	//background-size: 100% 100%;
	//background-repeat: no-repeat;
	color: white !important;
}

.text-colorw{
	color: white !important;
}

/* .bgc-navbar{
	background-color: rgba(0, 5, 27, 0.5);
}*/

.header-ul{
	margin-left: 58%;
}

.header-pre{
	width: auto;
	margin-top: 25vh;
	margin-right: 0px;
	margin-left: 0px;
}

.header-p{
	width: 35vw;
}

.ta-left{
	text-align: left;
	left: 2vw;
	top: 5vh;
}

.separator {
	height: 3px;
	margin: 18px 0;
	background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 50%,hsla(0,0%,100%,0));
	width: 70%;
}

.iframe-col{
	height: 40vh;
	position: 0px;
	left: -4vw;
}

.resp-iframe {
	position: absolute;
   top: 0;
   left: 0;
   width: 50vw;
   height: 45vh;
   border: 0;
}

.promo{
	height: 7vh;
	width: auto;
	background-color: rgb(155, 0, 93);
	color: white;
}

.promo p{
	padding-top: 2.5vh;
}

.speakers{
	height: auto;
	width: auto;
	margin-bottom: 7vh;
}

.speakers-container{
	margin: auto;
	margin-top: 5vh;
	align-content: center;
	width: 78vw;
}

.card{
	border-style: none;
	width: 14rem;
	margin: auto;
	text-align: center;
	margin-top: 15%;
}

.speakers-link:link, .speakers-link:hover {
	text-decoration: none;
	color: black;
}

.speakers-link{
	color: black;
}

.speakers-link img:hover{
	transform: scale(1.1);
}

.card-img-top{
	border-radius: 50%;
	border-style: solid;
}

.card img{
	object-fit: fill !important;
}

.speaker-btn{
	margin-top: 7vh;
}

.whatis{
	background-color: rgb(0, 0, 54);
	width: auto;
	height: 50vh;
	//background-color: #000036;
	background-image: url(../assets/Image-Ink.jpg);
	background-size: 600px;
	background-repeat: no-repeat;
	background-position: -220px -300px;
}

.row-whatis{
	margin-right: 0px;
}

.bg-1 {
	background-image: url(../assets/Pattern_Home_Hotel.svg);
	width: 55%;
	height: 50%;
	position: absolute;
	left: -380px;
	background-size: cover !important;
}

.information{
	color: white;
	font-weight: 300 !important;
	position: absolute;
	top: 8vh;
	left: 5vw;
	text-align: left;
	width: 58vw;
}

.separator-whatis {
	height: 3px;
	margin: 18px 0;
	background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 50%,hsla(0,0%,100%,0));
	width: 50%;
}