@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif !important;
}

#datascienceperu{
	height: 93vh;
	width: 100vw;
	//background-image: url("../assets/datascience.jpg");
	background-color: rgb(0, 0, 54);
	//background-size: 100% 100%;
	//background-repeat: no-repeat;
	color: white !important;
}

.text-colorw{
	color: white !important;
}

/* .bgc-navbar{
	background-color: rgba(0, 5, 27, 0.5);
}*/

.header-ul{
	margin-left: 58%;
}

.header-pre{
	margin-top: 25vh;
	margin-right: 0px;
}

.header-p{
	width: 35vw;
}

.ta-left{
	text-align: left;
	left: 2vw;
	top: 5vh;
}

.iframe-col{
	height: 40vh;
	position: 0px;
	left: -4vw;
}

.resp-iframe {
	position: absolute;
   top: 0;
   left: 0;
   width: 53vw;
   height: 40vh;
   border: 0;
}

.promo{
	height: 7vh;
	width: 100vw;
	background-color: rgb(155, 0, 93);
	color: white;
}

.promo p{
	padding-top: 2.5vh;
}